# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


*__pycache__/
*.pyc

# DataSet
examples/dstc6/Data/





# Model
model_pretrain/

examples/dstc6/pretrain/*
examples/dstc6/result/*
engines/embedding_models/InferSent/encoder/*
engines/embedding_models/InferSent/fastText/*




# Don't ignore
!*.md
!*.gitkeep
!*.keep




